@import 'vendors/normalize';
@import 'vendors/bootstrap.min';
@import 'utils/variables';
@import 'base/fonts';
@import 'utils/placeholders';
@import 'base/media';

@import 'blocks/common/pagewrapper';
@import 'blocks/common/header';
@import 'blocks/common/main';
@import 'blocks/common/footer';

@import 'blocks/common/text';
@import 'blocks/common/title';
@import 'blocks/common/input';
@import 'blocks/common/textarea';
@import 'blocks/common/checkbox';
@import 'blocks/common/button';

@import 'blocks/common/topmenu';