@font-face {
    font-family: 'OpenSans Regular';
    src: url('../fonts/DINProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url('../fonts/DINProBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}