.search {
    padding: 30px 0;
    background-color: #fff;
    border-top: 1px solid #ededed;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.10);
    margin-bottom: -93px;
    position: relative;
    z-index: 1;
    display: none;

    &__input {
        border: none;
        height: 30px;
        box-sizing: content-box;
        background: url(../img/search.png) center right no-repeat;
        width: 100%;
        outline: none;
    }
}