.title {
    font-family: 'MuseoSans';
    color: #000000;

    &_small {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
    }

    &_medium {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
    }

    &_large {
        font-size: 24px;
        line-height: 30px;
        font-weight: 900;
    }
}